[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-watchlist
Exec=harbour-watchlist
Name=Watchlist
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
# Name[de]=Watchlist

[X-Sailjail]
OrganizationName=de.andreas-wuest-it-consulting
ApplicationName=harbour-watchlist
Permissions=Internet

[X-HarbourBackup]
BackupPathList=.local/share/de.andreas-wuest-it-consulting/harbour-watchlist/
BackupConfigList=/apps/harbour-watchlist/
