[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-watchlist
Exec=harbour-watchlist
Name=Watchlist
[X-HarbourBackup]
BackupPathList=.local/share/harbour-watchlist/
BackupConfigList=/apps/harbour-watchlist/
